<!doctype html>

<form method=post action=/agents/>
<legend>agents</legend>
  <a href="/agents/">show all</a><br>
  <input name=handle placeholder=handle>
  <input name=default_rate placeholder='default interest rate'>
  <button type=submit>create agent</button>
</form>

<br>

<form method=post action=/lines/>
<legend>credit lines</legend>
  <a href="/lines/">show all</a><br>
  <input name=granter placeholder=granter>
  <input name=receiver placeholder=receiver>
  <input name=value placeholder=value>
  <input name=rate placeholder=rate>
  <button type=submit>create line</button>
</form>


<br>

<form method=post action=/ious/>
<legend>iou</legend>
  <a href="/ious/">show all</a><br>
  <input name=issuer placeholder=issuer>
  <input name=bearer placeholder=bearer>
  <input name=value placeholder=value>
  <input name=rate placeholder=rate>
  <input name=issued_at placeholder=when>
  <button type=submit>create iou</button>
</form>
