<!doctype html>

<form method=post action=/agents/>
<legend>agents</legend>
  <input name=handle placeholder=handle>
  <input name=default_rate placeholder='default interest rate'>
  <button type=submit>create agent</button>
</form>

<form method=post action=/ious/>
<legend>iou</legend>
  <input name=issuer placeholder=issuer>
  <input name=recipient placeholder=recipient>
  <input name=value placeholder=value>
  <input name=rate placeholder=rate>
  <button type=submit>create iou</button>
</form>
